@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato',sans-serif;
}
body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
/*pop-up nav*/
.times {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    color: #fff;
    z-index: 99999;
    font-size: 2.5rem;
    display: none;
}
.times-pop {
    display: flex;
}

.mobile-nav {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ec5242;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1.5rem;
    backdrop-filter: blur(80px);
    mix-blend-mode: multiply;
}
.nav-pop-up {
    display: flex;
}
.mobile-nav a {
    font-size: 1.5rem;
    color: #272a27;
}

.mobile-nav a:hover {
    text-decoration: underline;
    color: #f9fafb;
}
.nav-item,
.d-nav,
.d-logo,
.d-btn {
    display: none;
}
.humberger {
    width: 40px;
    height: auto;
}
.nav-bar {
    padding: .5rem 1.5rem;
    background-image: url(/assets/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*hero section */
.hero {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    background-image: url(/assets/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.p-1 {
    color: #ec5242;
    font-size: 1.3rem;
    margin: .3rem 0;
}
.h-1 {
    font-size: 2rem;
    font-weight: bolder;
    background-image: url(/assets/mobile.jpg);
    color: transparent;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    margin: .3rem 0;
}
.p-2 {
    border: 1px solid rgb(215, 212, 212);
    padding: .7rem;
    margin: 1rem 0;
    color: #1f2937;
}
.h-2 {
    color: #323944;
    margin: .4rem 0;
}
.p-3 {
    color: #323944;
    margin-bottom: 3rem;
    margin-top: .2rem;
}
/*program section*/
.main-program {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    gap: 2rem;
    background-color: #272a32;
}
.program-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    padding: .7rem;
}
.program-header h2 {
    font-size: 1.6rem;
    color: #ec5242;
}
.line {
    width: 50px;
    height: 2px;
    background-color: #ec5242;
}
.card-img {
    width: 40px;
    height: auto;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: .6rem;
    background-color: #585858;
    border: 1px solid #585858;;
}
.card h3 {
    color: #ec5242;
}
.card p {
    color: #fff;
}
.header-btn {
    padding: 2rem;
    border: 1px solid #ec5242;
    background-color: #ec5242;
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1rem;

}
.program {
    display: none;
}
/*featured speakers*/
.featured-speakers {
    display: flex;
    flex-direction: column;
    background-color: #f9fafb;
}
.speaker-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
    gap: .4rem;

}
.speaker-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
    gap: 2rem;
}

.speaker-card {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}
.speaker-img {
    width: 100px;
    height: auto;
}
.speaker-body {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.speaker-body h2 {
    color: #272a32;
    font-weight: bolder;
}
.speaker-body h3 {
    color: #ec5242;
    font-size: .9rem;
}
.speaker-body p {
    color: #272a32;
}
.partners {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    background-color: #272a32;

}
.partner-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .4rem;
}
/*partner section */
.partner-img {
    width: 100px;
    height: auto;
}
.partner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
}
.footer-img {
    width: 150px;
}
footer {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    gap: 1.8rem;
}
.footer-div {
    display: flex;
    flex-direction: column;
    color: #272a32;
}
@media (min-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
    }
    .nav-item {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;
        padding: .4rem 6rem;
        background-color: #272a32;
    }
    .nav-item li {
        font-size: .7rem;
        color: #fff;
    }
    .nav-item a {
        color: #fff;
    }
    .nav-item a:hover {
        color: #ec5242;

    }
    
    .nav-img {
        width: 17px;
        height: auto;
    }
    .humberger {
        display: none;
    }

.d-btn {
    display: flex;
    color: #ec5242;
    border: 2px solid #ec5242;
    padding: .4rem .5rem;
    margin-right: 30px;
    background-color: #fff;
    cursor: pointer;
}
.d-btn:hover {
    background-color: #ec5242;
    color: #fff;
}
.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-image: none;
    background-color: #f9fafb;
}
.nav-bar a:hover {
color: #ec5242;
}

.d-nav {
    display: flex;
    gap: 1.8rem;
}
.d-nav a {
    color: #585858;
    font-size: .9rem;
}
.logo-span {
   color: rgb(75, 71, 71);
   font-weight: bolder;
}
.d-logo {
    display: flex;
    color: #ec5242;
    font-weight: bold;
}
/*hero section */
.hero {
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem 0 4rem;
}
.h-1 {
    width: 60%;
    margin: .2rem 0;
}
.p-2 {
    width: 60%;
}
/*main program */
.container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    
}
.card {
    width: 20%;
    height: auto;
    flex-direction: column;
}
.header-btn {
    display: none;
}
.program {
    display: block;
    text-decoration: underline;
    color: #fff;
    margin-bottom: 2.4rem;
}
.card p {
    font-size: .6rem;
}
/*speaker containe*/
.speaker-container {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 150px 150px 150px;
    justify-content: center;
    background-color: #f9fafb;
    margin-bottom: 3rem;
}
.speaker-body p {
    font-size: .7rem;
}
}